<div style="color:red; border:2in;padding-top: 5px; padding-left: 5px; width:2000px; height: 1000px; ; background-color: blanchedalmond;"><h1 style="text-align: center; ">Hello!!!!!</h1>

<h2 style="color:blue">{{subtitle}}</h2>
<h3 style="color:darkmagenta">{{user.uid}} {{user.fname}}</h3>
<br>

<p [innerHTML]='propbnd'></p>

<p [ngStyle] = "{color:colorval}">hurrah!!!!!!!!!</p>

<div [ngClass] = "'bgc'">Setting class property via property Binding</div>

<a [href]="hrefval" [attr.updatelink]='updatedlink'>click me</a>

</div>

<router-outlet></router-outlet>
